UGRS.2018/UGRS.AddOn.Purchases/Service References/TimbradoSoap33Prodigia/Timbrado3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="timbrado.ws.pade.mx" targetNamespace="timbrado.ws.pade.mx" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="acuseCancelacion" type="tns:acuseCancelacion" />
  <xs:element name="acuseCancelacionResponse" type="tns:acuseCancelacionResponse" />
  <xs:element name="cancelar" type="tns:cancelar" />
  <xs:element name="cancelarConOpciones" type="tns:cancelarConOpciones" />
  <xs:element name="cancelarConOpcionesResponse" type="tns:cancelarConOpcionesResponse" />
  <xs:element name="cancelarResponse" type="tns:cancelarResponse" />
  <xs:element name="cfdiPorUUID" type="tns:cfdiPorUUID" />
  <xs:element name="cfdiPorUUIDResponse" type="tns:cfdiPorUUIDResponse" />
  <xs:element name="consultarCfdiRelacionados" type="tns:consultarCfdiRelacionados" />
  <xs:element name="consultarCfdiRelacionadosResponse" type="tns:consultarCfdiRelacionadosResponse" />
  <xs:element name="consultarEstatusComprobante" type="tns:consultarEstatusComprobante" />
  <xs:element name="consultarEstatusComprobanteResponse" type="tns:consultarEstatusComprobanteResponse" />
  <xs:element name="consultarPeticionesPendientes" type="tns:consultarPeticionesPendientes" />
  <xs:element name="consultarPeticionesPendientesResponse" type="tns:consultarPeticionesPendientesResponse" />
  <xs:element name="responderSolicitudCancelacionConOpciones" type="tns:responderSolicitudCancelacionConOpciones" />
  <xs:element name="responderSolicitudCancelacionConOpcionesResponse" type="tns:responderSolicitudCancelacionConOpcionesResponse" />
  <xs:element name="timbrado" type="tns:timbrado" />
  <xs:element name="timbradoBase64" type="tns:timbradoBase64" />
  <xs:element name="timbradoBase64Prueba" type="tns:timbradoBase64Prueba" />
  <xs:element name="timbradoBase64PruebaResponse" type="tns:timbradoBase64PruebaResponse" />
  <xs:element name="timbradoBase64Response" type="tns:timbradoBase64Response" />
  <xs:element name="timbradoPrueba" type="tns:timbradoPrueba" />
  <xs:element name="timbradoPruebaResponse" type="tns:timbradoPruebaResponse" />
  <xs:element name="timbradoResponse" type="tns:timbradoResponse" />
  <xs:complexType name="consultarCfdiRelacionados">
    <xs:sequence>
      <xs:element minOccurs="0" name="contrato" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="passwd" type="xs:string" />
      <xs:element minOccurs="0" name="rfcReceptor" type="xs:string" />
      <xs:element minOccurs="0" name="uuid" type="xs:string" />
      <xs:element minOccurs="0" name="cert" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="key" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="keyPass" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="opciones" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarCfdiRelacionadosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="responderSolicitudCancelacionConOpciones">
    <xs:sequence>
      <xs:element minOccurs="0" name="contrato" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="passwd" type="xs:string" />
      <xs:element minOccurs="0" name="rfcReceptor" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="arregloUUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cert" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="key" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="keyPass" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="opciones" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="responderSolicitudCancelacionConOpcionesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelar">
    <xs:sequence>
      <xs:element minOccurs="0" name="contrato" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="passwd" type="xs:string" />
      <xs:element minOccurs="0" name="rfcEmisor" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="arregloUUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cert" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="key" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="keyPass" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cfdiPorUUID">
    <xs:sequence>
      <xs:element minOccurs="0" name="contrato" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="passwd" type="xs:string" />
      <xs:element minOccurs="0" name="uuid" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cfdiPorUUIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarPeticionesPendientes">
    <xs:sequence>
      <xs:element minOccurs="0" name="contrato" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="passwd" type="xs:string" />
      <xs:element minOccurs="0" name="rfcReceptor" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="opciones" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarPeticionesPendientesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="timbrado">
    <xs:sequence>
      <xs:element minOccurs="0" name="contrato" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="passwd" type="xs:string" />
      <xs:element minOccurs="0" name="cfdiXml" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="opciones" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="timbradoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="timbradoBase64">
    <xs:sequence>
      <xs:element minOccurs="0" name="contrato" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="passwd" type="xs:string" />
      <xs:element minOccurs="0" name="cfdiXmlBase64" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="opciones" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="timbradoBase64Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="acuseCancelacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="contrato" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="passwd" type="xs:string" />
      <xs:element minOccurs="0" name="uuid" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="acuseCancelacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="timbradoBase64Prueba">
    <xs:sequence>
      <xs:element minOccurs="0" name="contrato" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="passwd" type="xs:string" />
      <xs:element minOccurs="0" name="cfdiXmlBase64" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="opciones" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="timbradoBase64PruebaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelarConOpciones">
    <xs:sequence>
      <xs:element minOccurs="0" name="contrato" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="passwd" type="xs:string" />
      <xs:element minOccurs="0" name="rfcEmisor" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="arregloUUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cert" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="key" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="keyPass" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="opciones" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelarConOpcionesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="timbradoPrueba">
    <xs:sequence>
      <xs:element minOccurs="0" name="contrato" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="passwd" type="xs:string" />
      <xs:element minOccurs="0" name="cfdiXml" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="opciones" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="timbradoPruebaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarEstatusComprobante">
    <xs:sequence>
      <xs:element minOccurs="0" name="contrato" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="passwd" type="xs:string" />
      <xs:element minOccurs="0" name="uuid" type="xs:string" />
      <xs:element minOccurs="0" name="rfcEmisor" type="xs:string" />
      <xs:element minOccurs="0" name="rfcReceptor" type="xs:string" />
      <xs:element minOccurs="0" name="total" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="opciones" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="consultarEstatusComprobanteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>